/* ---- put fonts first ---- */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* ---- then Tailwind and other styles ---- */
@import 'tailwindcss';
@import 'vue-sonner/style.css';

/* Custom CSS variables */
:root {
  --header-bg: #ffffff;
  --header-primary: #501696;
  --bg-primary: #501696;
  --bg-secondary: #1f2937;
  --bg-tertiary: #85e642;
  --yellowish: #85e642;
}
